/************* fortunes page ************/

.fpage-bg {
  background-image: url('../assets/cards.jpg');
  height: 100vh;
  width: 100%;
  position: relative;

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.black-trs {
  color: var(--neon-dark);
  text-shadow: 2px 2px 5px var(--neon-red);
}

.button-styles2 {
  background: rgb(254, 247, 245, 0.4) !important;
  border: 3px double var(--neon-red) !important;
  /* -webkit-transition-duration: 0.8s; 
    transition-duration: 0.8s; */
  border-radius: 8px;
  color: var(--neon-dark);
  text-shadow: 2px 2px 5px var(--neon-red);
}

body {
  font-size: 62.5%;
  font-style: Arial;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fourth {
  font-size: 2em !important;
  position: absolute;
  bottom: 0%;
  left: 10%;
  /* padding: 0, 20px; */

  opacity: 1;
}

.fifth-text {
  /* font-size: 4rem; */
  position: absolute;
  width: 80%;
  /* left: 10%; */
  /* bottom: 45%; */
  top: 25px;
  opacity: 1;
  /* color: #f0eba3; */
  animation-name: bottomFadeOut;
  /* animation-delay: 1s; */
  animation-duration: 5s;
}

@media only screen and (max-width: 1200px) {
  .fifth-text {
    /* color: green; */
    bottom: 35%;
  }
}

@media only screen and (max-width: 900px) {
  .fifth-text {
    /* color: green; */
    bottom: 20%;
  }
}

@media only screen and (max-width: 680px) {
  .fifth-text {
    /* color: green; */
    width: 90%;
    left: 5%;
    bottom: 10%;
  }
}
@media only screen and (max-width: 550px) {
  .fifth-text {
    /* color: green; */
    width: 99%;
    left: 2%;
    bottom: 0%;
  }
}

@media only screen and (max-width: 420px) {
  .fifth-text {
    /* color: green; */
    font-size: 0.8em;
    width: 100%;
    left: 2%;
    bottom: 0%;
  }
}

.animation-box {
  width: 85%;
  height: 75vh;
  /* background-color: blue; */
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.dis {
  position: absolute;
  bottom: 2%;
  color: var(--light-color);
}
