h4 {
  margin: 0;
}

.link {
  margin-right: 40px;
  font-size: 1.25rem;
  margin-left: 0;
}
.right {
  display: block;
}
@media only screen and (max-width: 1275px) {
  .link {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 1075px) {
  .link {
    font-size: 0.75rem;
  }
  h4 {
    font-size: 1.15rem;
  }
}
@media only screen and (max-width: 900px) {
  .link {
    font-size: 0.6rem;
    /* background: green; */
  }

  h4 {
    font-size: 1.09rem;
    margin-right: 0;
  }
}
@media only screen and (max-width: 800px) {
  .link {
    font-size: 0.5rem;
    /* background: green; */
    margin-right: 20px;
  }

  h4 {
    font-size: 1rem;
    margin-right: 0;
  }
}

@media only screen and (max-width: 660px) {
  .header-right {
    flex-direction: column;
  }
  h4 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 387px) {
  .link {
    font-size: 0.5rem;
    /* background: green; */
    margin-right: 20px;
  }

  h4 {
    font-size: 0.85rem;
    margin-right: 0;
  }
}
