.header {
  min-height: 100vh;
  color: #afa5a5;
  text-shadow: 2px 2px 5px #ff0000;
}

.link {
  color: var(--primary-color) !important;
}

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
/* 
.nav-main {
  background: var(--dark-color) !important;
  color: var(--light-color) !important;
} */
