.bg-home {
  /* background-color: gray; */
  background-image: url('../assets/graySplash.jpg');
  height: 100vh;
  margin:0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'Quattrocento', serif;
}

.trans-bg {
  background-color: rgb(254, 247, 245, 0.9) !important;
}

.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color:var(--neon-dark) !important   }
  49%{    color:var(--neon-dark) !important}
  70%{    color: transparent; }
  97%{    color:transparent;  }
  100%{   color:var(--neon-dark) !important   }
}

