.bg-home {
  /* background-color: gray; */
  background-image: url('../assets/graySplash.jpg');
  height: 100vh;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

body {
  font-family: 'Quattrocento', serif;

}

.trans-bg{
  background-color: rgb(254, 247, 245, 0.8) !important;

}